.header_container {
  position: relative;
  margin-top: -82px;
  text-align: center;
  color: #fff;
  z-index: -9999;
}
.header_container .slider {
  position: relative;
  text-align: center;
  color: white;
}

.header_container .slider::after {
  box-shadow: 10px 10px 400px 38px rgba(0, 0, 0, 0.95) inset;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.header_container .slider img {
  width: 100%;
  height: 110vh;
  object-fit: cover;
}

.header_container .slider .centered_text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header_container .slider .centered_text h1 {
  font-size: 7rem;
  font-weight: 900;
}

.header_container .slider .centered_text p {
  font-size: 3rem;
  letter-spacing: 0.8rem;
  font-weight: 700;
}

.header_container .slider .centered_text .learn_more_btn {
  margin-top: 3rem;
  cursor: pointer !important;
}
