/* =========== Google Fonts Link ===========*/
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap");

/* ============================ */
/* Basic setup */
/* ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: fastscroll;
}
/* width */
::-webkit-scrollbar {
  /* width: 10px; */
  display: none;
}

body {
  font-family: "Mulish", sans-serif;
  text-rendering: optimizeLegibility;
}

ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}

/* ============================ */
/* Reusable component setup */
/* ============================ */
.container {
  max-width: 120rem;
  margin: 0 auto;
}
.btn:link,
.btn:visited,
.btn {
  background: #c20505;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
  display: inline-block;
  padding: 1.5rem 4rem;
  border: none;
  cursor: pointer;
  width: 19rem;
}
.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}
/* --- slider --- */
.slick-prev,
.slick-next {
  display: none !important;
}

.slick-dots li button {
  display: none !important;
}
